/* 
<i class="ri-map-pin-line"></i>

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 2rem;
    background-color:#000000;
}

section.home{
    height: 100%;
    width: 100%;
    
    display: grid;
    gap: .5rem;
    grid-template-columns: .9fr 1fr .9fr 1.2fr;
    grid-template-rows: .6fr .6fr 1fr .6fr .6fr;
    grid-template-areas: 
    "profile circle-poster menu emoji"
    "profile cirlce-poster menu character"
    "barcode info menu character"
    "barcode badge rating rating"
    "barcode qr-card rating rating";
}

.profile{
    grid-area: profile;
    background-color:#111111;
    padding: .5rem;
    border-radius: 1.5rem;
}

.profile>img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    /* aspect-ratio: 3/1; */
    border-radius: 1.25rem;
    background-color: #9E54F4;
    
}

.circle-poster{
    background-color: orange;
    grid-area: circle-poster;
}

.menu{
    background-color: green;
    grid-area: menu;
}

.emoji{
    background-color: lemonchiffon;
    grid-area: emoji
}

.barcode{
    background-color: violet;
    grid-area: barcode;
}

.info{
    background-color: navy;
    grid-area: info;
}

.character{
    background-color: lightseagreen;
    grid-area: character;
}

.badge{
    background-color: crimson;
    grid-area: badge;
}

.rating{
    background-color: lightgreen;
    grid-area: rating;
}

.qr-card{
    background-color: gray;
    grid-area: qr-card;
}